body{
    background-color: rgb(255, 242, 217);
    margin: 0;
    padding: 2em 2em 2em 2em;
}
p{
    font-family: tenso, sans-serif;
    font-size: 2em;
    margin: 0;
    text-align: center;
}
a{
    color: rgb(47,47,47);
}

.menu{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
}

.circle{
    background-color: rgb(59,159,156);
    border-radius: 50%;
    height: 5em;
    width: 5em;
    margin: auto;
}
.rectangle{
    background-color: rgb(252,206,121);
    height: 5em;
    width: 30em;
    margin: auto;
}
.tab_rect{
    display: none;
}
.tab_category{
    display: none;
}
.tab_category_2{
    display: none;
}
.tab_category_3{
    display: none;
}
.phone_blue{
    display: none;
}
.phone_purple{
    display: none;
}

.link_home{
    margin-top: 1em;
    text-align: center;
    font-size: 1.5em;
}
.link_gallery{
    margin-top: 1.1em;
    text-align: center;
    font-size: 1.4em;
}
.category{
    color: rgb(188,21,202);
    font-size: 3em;
    margin: 1vh;
    text-align: center;
}
.alt_category{
    color: rgb(188,21,202);
    font-size: 3em;
    margin: 1vh;
    text-align: center;
}
.last_category{
    color: rgb(188,21,202);
    font-size: 3em;
    margin: 1vh;
    text-align: center;
}

.scroll_window{
    width: 86vw;
    overflow: scroll;
}
.scroll{
    width: 150em;
}
.works{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 8em;
    grid-column-gap: 2em;
    height: 30em;
    padding: 0 8.5em 0 8.5em;
}

.image{
    position: relative;
}

.blue_line{
    background-color: rgb(59,159,156);
    width: 70%;
    height: 1em;
    position: absolute;
    margin-top: 0.5em;
    border-radius: 25px;
}
.purple_bar{
    background-color: rgb(188,21,202);
    position: absolute;
    margin-top: 2em;
    width: 100%;
}

img{
    height: 100%;
    width: 100%;
}







/*-----------tablet-----------*/
@media only screen and (min-width: 800px) and (max-width:1280px){
    body{
        background-color: rgb(216,239,238);
        padding: 2em 0 2em 0;
    }
    .circle{
    background-color: rgb(252,206,121);
    }
    .rectangle{
        background-color: rgb(216,239,238);
    }
    .category{
        color: rgb(216,239,238);
    }
    .alt_category{
        color: rgb(216,239,238);
    }
    .last_category{
        color: rgb(216,239,238);
    }

    .tab_rect{
        display: block;
        background-color: rgb(188,21,202);
        height: 5em;
        width: auto;
        margin: auto;
        padding-top: .75em;
        margin-top: 2em;
    }


    .tab_category{
        display: block;
        color: rgb(252,206,121);
        font-size: 3em;
        margin: 1vh;
        text-align: center;
    }
    .tab_category_2{
        display: block;
        color: rgb(252,206,121);
        font-size: 3em;
        margin: 1vh;
        text-align: center;
    }
    .tab_category_3{
        display: block;
        color: rgb(252,206,121);
        font-size: 3em;
        margin: 1vh;
        text-align: center;
    }

    .works{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        padding: 0 4em 0 4em;
    }
    .scroll{
        display: block;
        width: auto;
    }
    .scroll_window{
        display: inline;
    }
    img{
        max-height: 100%;
    }

    .blue_line{
        display: none;
    }
    .purple_bar{
        background-color: rgb(59,159,156);
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        width: 80%;
        height: 1.5em;
        padding: 0 3vw .75vh 1vw;
    }

    p{
        font-size: 1.5em;
        margin: auto;
        text-align: center;
    }

    .phone_purple{
        display: inline;
    }
    .phone_blue{
        display: inline;
    }

    .works .right_image{
        position: relative;
        float: right;
        top: 75px;
    }




}











/*-----------smart phone----------*/
@media only screen and (max-width:800px){
    body{
        background-color: rgb(234,208,228);
        padding: 2em 0 2em 0;
    }
    p{
        text-align: center;
    }


    .circle{
        background-color: rgb(59,159,156);
        
    }
    .rectangle{
        background-color: rgb(234,208,228);
        width: auto;
    }
    .category{
        color: rgb(234,208,228);
    }
    .alt_category{
        color: rgb(234,208,228);
    }
    .last_category{
        color: rgb(234,208,228);
    }

    .tab_rect{
        display: block;
        background-color: rgb(188,21,202);
        height: 5em;
        width: auto;
        margin: auto;
        padding-top: .75em;
        margin-top: 2em;
    }


    .tab_category{
        display: block;
        color: rgb(252,206,121);
        font-size: 3em;
        margin: 1vh;
        text-align: center;
    }
    .tab_category_2{
        display: block;
        color: rgb(252,206,121);
        font-size: 3em;
        margin: 1vh;
        text-align: center;
    }
    .tab_category_3{
        display: block;
        color: rgb(252,206,121);
        font-size: 3em;
        margin: 1vh;
        text-align: center;
    }

    .works{
        display: block;
        padding: 0;
    }
    .scroll{
        display: block;
        width: auto;
    }
    .scroll_window{
        display: inline;
    }

    .image{
        margin-bottom: 2em;
        margin-left: 5em;
        margin-right: 5em;
    }

    .blue_line{
    display: none;
    }
    .purple_bar{
        background-color: rgb(252,206,121);
    }

    .phone_purple{
        display: block;
        background-color: rgb(188,21,202);
        width: 80%;
        height: 1em;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        margin-right: auto;
        margin-bottom: 2em;
    }
    .phone_blue{
        display: block;
        background-color: rgb(59,159,156);
        width: 80%;
        height: 1em;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        margin-left: auto;
        margin-bottom: 3em;
    }

}
