body{
    background-color: blue;
    padding: 0;
    margin: 0;
}

.menu{
    background-color: rgb(128,232,228);
    width: 100%;
    height: 6vh;
}
.options{
    background-color: rgb(67,161,165);
    width: 20%;
    height: 6vh;
    position: absolute;
}

.control_bar{
    background-color: rgb(0,194,203);
    height: 6vh;
    width: 100%;
}

.sidebar{
    background-color: rgb(0,120,126);
    width: 19vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 10px;
    position: absolute;
    padding: 5px 5px 5px 5px;
}
.category{
    background-color: rgb(49,145,155);
    
}
.apps{
    background-color: rgb(135,200,203);
    
}

.inbox{
    background-color: rgb(31,102,105);
    height: 100vh;
    width: 26vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 10px;
    position: absolute;
    top:12vh;
    left: 19.75vw;
    padding: 5px 5px 5px 5px;
}
.email{
    background-color: rgb(176,224,226);
    
}

.message{
    background-color: rgb(103,157,159);
    height: 101.4vh;
    width: 53.6vw;
    position: absolute;
    top: 12vh;
    right: 0;
}