---
layout: layouts/base.njk
pagination:
  data: collections.everything
  size: 1
  alias: tag
permalink: work/{{ tag }}/index.html
renderData:
  title: Tagged “{{ tag }}”
---


        <div class="menu">
            <div class="circle">
                <a href="/">
                    <p class="link_home">Home</p>
                </a>
            </div>
            <div class="rectangle">
                <p class="category">{{ tag | title }}</p>
            </div>
            <div class="circle">
                <a href="/categories/">
                    <p class="link_gallery">Gallery</p>
                </a>
            </div>
        </div>
        <div class="tab_rect">
            <p class="tab_category">{{ tag | title }}</p>
        </div>


    
{% set postslist = collections[tag] %}
{% include "partials/postlist.njk" %}
