body{
    background-color: cornflowerblue;
    padding: 0;
    margin: 0;
}

.menu{
    background-color: rgb(49,108,91);
    width: 100vw;
    height: 5vh;
    position: fixed;
}

.main_body{
    display: grid;
    grid-template-columns: 0.3fr 1.7fr;
    grid-template-rows: 1fr;
}

.sidebar{
    background-color: gray;
    width: 20vw;
    
}
.navigational_links{
    background-color: rgb(81,165,141);
    width: 15vw;
    height: 35vh;
}
.video_categories{
    background-color: rgb(48,132,108);
    width: 15vw;
    height: 45vh;
}
.extra_features{
    background-color: rgb(114,193,170);
    width: 15vw;
    height: 15vh;
}
.settings{
    background-color: rgb(18,165,123);
    width: 15vw;
    height: 20vh;
}
.empty{
    background-color: rgb(81,132,117);
    width: 15vw;
    height: 55vh;
}

.main{
    background-color: rgb(3,47,35);
    width: 85vw;
    padding: 8vh 0vh 0vw 0vh;
}

.advertisement{
    background-color: rgb(112,152,141);
    width: 70vw;
    height: 25vh;
    margin: auto;
    margin-bottom: 5vh;
}

.trending{
    background-color: rgb(4,88,65);
    width: 69vw;
    height: 20vh; 
    margin: auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 0.5em;
    padding: 0vh 0.5vw 1vh 0.5vw;
    margin-bottom: 5vh;
}

.video{
    background-color: rgb(146,208,191);
    margin-top: 4vh;
}

.recommended_channel{
    background-color: rgb(4,88,65);
    width: 69vw;
    height: 20vh; 
    margin: auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 0.5em;
    padding: 0.5vh 0.5vw 1vh 0.5vw;
    margin-bottom: 5vh;
    position: relative;
}

.subscribe_button{
    background-color: rgb(93,242,201);
    height: 3vh;
    width: 6vw;
    position: absolute;
    top: 0.5vh;
    right: 0.5vw;
}