<div class="postlist">

<div class="scroll_window">
            <div class="scroll">
                <div class="works">

  {% for post in postslist %}

  <div class="gallery_image">
                        <div class="blue_line"></div>
                        <div class="purple_bar">
                            <p> <a href="{{ post.url | url }}">{{ post.data.title }} </a></p>
                        </div>
                        <div> <img src="{{ post.data.featured_image | url }}" /></div>
                    </div>
                    <div class="gallery_phone_purple"></div>
                    <div class="phone_blue"></div>
<!--
    <div class="individual_item">
      <div class="item_image">
        <a href="{{ post.url | url }}">
          <img src="{{ post.data.featured_image | url }}" />
        </a>
      </div>
      <div class="item_title">
        <a href="{{ post.url | url }}">
          {{ post.data.title }}
        </a>
        
      </div>
    </div>
-->
  {% endfor %}
</div>